body{
    font-family: "Source Code Pro", monospace;
    background-color: #0E0E0E;
}

/* NAV BAR */
p {
    color: #9BB8F1;
    font-size: 16px;
}

.logo{
    position: relative;
    float: left;
}


.btn-contate_me{
    font-family: "Source Code Pro", monospace;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    height: 25px;
    
}
.btn-contate_me:hover{
    background-color: #9BB8F1;
    color: white;
    transition: background-color 0.5s;
}
/* CONTAINER 1 */
.bloco1, .bloco2{
    display: inline-block;
}
.bloco1{
    padding: 4%;
}
.container1{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.gumma{
    margin: 5px;
}

/* CONTAINER 2 */
.container2{
    background-color: #1B1B1B;
    height: 480px;
    margin-top: 125px;
    display: flex;
    justify-content: center;
}
.img_virtual{
    margin-right: 50px;
    width: 300px;
    height: 300px;
}
.txt_cont2{
    width: 600px;
}
.txt_cont2, .sobre {
    text-align: center;
}
.txt_cont2, .img_cont2{
    padding: 10px;
    margin-top: 85px;
}

.sobre-mim {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 900 */

.source-code pro-fonte {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

/* CONTAINER 3 */
.curric {
    text-align: center;
    color: #9BB8F1;
    margin-top: 130px;
}

.container3{
    display: flex;
    justify-content: center;
}
.txt_exp, .data{
    color: #2F75FF;

}
.txt_detalhe, .titulo{
    color: white;
}
.titulo{
    font-weight: 700;
    font-size: 20px;
}
.txt_detalhe{
    font-weight: 400;
}
.box3, .box4{
    border: #9BB8F1 solid;
    padding: 32px;
    border-radius: 10px;
    border-width: 1px;
    width: 500px;
}
.img-exp{
    width: 20px;
    height: 20px;
}
.box3 {
    margin-right: 50px;
}
.txt_detalhe2{
    color: white;
    font-size: 13px;
}

.container4{
    margin-top: 121px;
    background-color: #1B1B1B;
}
.txt-cont4 {
    color: white;
    font-weight: 500;
}
.cont4{
    display: flex;
    justify-content: center;
}

.dev:after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}
@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

@media screen and (max-width: 1020px){
    /* container 2 */
    img, .img_virtual{
        width: 120px;
        height: 120px;
    }
    .sobre {
        font-size: 23px;
    }
    .sobre_mim{
        font-size: 12px;
    }

}

.centraliza {
    display: flex;
    align-items: center;
    justify-content: center;
}